.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 400px;
    height: 700px;
    border: 2px solid black;
    background-color: beige;
}

.display {
    background-color: aquamarine;
    width: 380px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 2px solid black;
    box-sizing: border-box;
}

.reset-button-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.reset {
    box-sizing: border-box;
    border: 2px solid black;
    background-color: crimson;
    width: 380px;
    height: 60px;
    font-size: 30px;
    padding: 1px;   
}

.button-grid {

    padding: 10px;
    display: flex;
}
.button-grid-1 .row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.button-grid-2 {
    margin-left: 10px;
}
.button-grid button {
    box-sizing: border-box;
    border: 2px solid black;
    width: 87.5px;
    height: 87.5px;
    font-size: 30px;
    padding: 1px;
}
.button-grid-1 #zero {
    width: 185px;
}
.button-grid-2 #big {
    margin-top: 10px;
    height: 185px;
}
.operator {
    background-color: lightblue;
}
.digit {
    background-color: lightslategray;
    color: white;
}
.clear {
    background-color: darkblue;
    color: white;
}