body {
    background-color: black;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 400px;
    height: 700px;
    border: 2px solid #D1E8E2;
    background-color: #2C3531;
}

.display {
    background-color: #D1E8E2;
    width: 380px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 2px solid black;
    box-sizing: border-box;
    font-family: Helvetica;
    padding: 5px;
    padding-right: 10px;
}
.display .line1 {
    text-align: right;
    font-size: 30px
}
.display .line2 {
    text-align: right;
    margin-top: 15px;
    font-size: 50px;
}

.reset-button-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.reset {
    box-sizing: border-box;
    border: 2px solid black;
    background-color: rgb(168, 56, 79);
    width: 380px;
    height: 60px;
    font-size: 30px;
    padding: 1px;
    color: white;
}
.reset:hover {
    background-color: rgb(141, 47, 66);
}

.button-grid {

    padding: 10px;
    display: flex;
}
.button-grid-1 .row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.button-grid-2 {
    margin-left: 10px;
}
.button-grid button {
    box-sizing: border-box;
    border: 2px solid black;
    width: 87.5px;
    height: 87.5px;
    font-size: 30px;
    padding: 1px;
}
.button-grid-1 .hbig {
    width: 185px;
}
.button-grid-2 .big {
    margin-top: 10px;
    height: 185px;
}
.operator {
    background-color: #116466;
    color: white;
}
.operator:hover {
    background-color: #0d4d4e;
}
.digit {
    background-color: #FFCB9A;
    color: black;
}
.digit:hover {
    background-color: #D9B08C;
}
.clear {
    background-color: #5f85b8;
    color: black;
}
.clear:hover {
    background-color: #50709b;
}